/* html, */
.dark_theme {
  background-color: #17171a !important;
}

.dark_theme .market_top_header {
  background-color: #17171a;
  box-shadow: 0 0 10px 5px rgb(0 0 0 / 10%);
}

.dark_theme .new_page_title_block {
  background-color: #17171a !important;
}
.dark_theme .page_title {
  color: #fff;
}
.dark_theme .market_insights p {
  color: #fff !important;
}

.dark_theme .new_markets_index table tbody tr td {
  color: #fff !important;
}
.dark_theme .market_page_data tr .media p {
  color: #fff !important;
}

.dark_theme #footer {
  background-color: #17171a;
}

.dark_theme .active_category {
  background: #18191c;
}
.dark_theme .new_markets_index table tbody tr {
  border-bottom: 1px solid #323232 !important;
}

.dark_theme .main_menu_header .dropdown .dropdown-menu {
  background: #17171a;
  box-shadow: 0 0 15px #000;
}
.dark_theme .market_top_header .nav-item.show .dropdown-toggle {
  color: #fff !important;
}

.dark_theme #site-info {
  background: #1e1d1f;
}

.dark_theme .widgets__item,
.dark_theme .launchpads {
  background: #24262a;
  border: 1px solid #24262a;
}

.dark_theme .quick_block_links .widgets__select {
  background: #242437;
  color: #585885;
}
.dark_theme .share_market_detail_page {
  color: #fff;
  border: 1px solid #323232;
}
.dark_theme .widgets__price {
  color: #fff;
}
.dark_theme .widgets__category {
  color: #fff;
}
.dark_theme .market_details_block .widgets__info {
  color: #fff;
}
.dark_theme .market_details_block .wallets__info {
  color: #fff;
}
.dark_theme .wallets__inner .wallets__number {
  color: #fff;
}
.dark_theme .token-contract-details h5 a {
  color: #fff;
}
.dark_theme .market {
  background: #24262a;
  border: 1px solid #24262a;
}
.dark_theme .company_profile_tabs li {
  border-right: 1px solid #fff;
}
.dark_theme .company_profile_tabs .nav-tabs .nav-link {
  color: #fff;
}
.dark_theme .company_profile_tabs .nav-tabs .nav-link.active span {
  border-bottom: 1px solid #fff;
}
.dark_theme .company_profile_tabs .nav-tabs .nav-link.active {
  background-color: #24262a;
}
.dark_theme .exchange_transactions {
  background-color: #24262a;
}
.dark_theme .chart_tabs_ul {
  background: #252533;
  color: #fff;
}
/* .dark_theme .highcharts-background {
  background: #24262a !important;
} */

.dark_theme .price_change {
  color: #fff;
}

.dark_theme .exchange_transactions h4 {
  color: #fff;
}
.dark_theme .no_data_found {
  color: #fff;
}
.dark_theme .market-details-custom-search-block {
  box-shadow: 0 0 0px #aaa;
}
.dark_theme .prices__title h1 {
  color: #fff;
}

.dark_theme .referral_dropdown .dropdown .dropdown-menu {
  background: #17171a;
  box-shadow: 0 0 15px #000;
}
.dark_theme .referral_dropdown .dropdown .dropdown-item {
  color: #fff !important;
}
.dark_theme .market_page_data tr .media h4 {
  color: #fff;
  font-weight: 400 !important;
}
.dark_theme .token_list_table .table td {
  color: #fff;
}
.dark_theme .token_list_table .table tr {
  border-bottom: 1px solid #323232 !important;
}
.dark_theme .token_steps h1 {
  color: #fff;
}
.dark_theme .token_form_sub_text {
  color: #fff;
}
.dark_theme .main_create_form {
  background: #282830;
  border: 1px solid #3f3f4e;
}
.dark_theme .token_list_table label {
  color: #474757;
}

.dark_theme .launchpad_list_content {
  background: #1f1f29;
  padding: 20px 10px 22px;
  border: 1px solid #1f1f29;
}

.dark_theme .launchpad_list_title {
  background: #3a3a48;
}

.dark_theme .launchpad_list_title h4 {
  color: #fff;
}

.dark_theme .main_create_form .create-token-res {
  color: #fff;
}

.dark_theme .token_steps_list {
  background: #282830;
  border: 1px solid #353541;
}
.dark_theme .token_steps_list ul li {
  color: #ffffff;
}
.dark_theme .form-custom label {
  color: #474757;
}
.dark_theme .addmore_ico span {
  color: #fff;
}

.dark_theme .panel_title_go_back a {
  color: #fff;
}
.dark_theme .select_launchpad_type {
  background: #242437 !important;
  color: #fff;
}

.dark_theme .token_list_table .input-group {
  border: 1px solid #242437;
  background: #242437;
}

.dark_theme .token_form label {
  color: #474757;
}

.dark_theme .token_list_table .form-control::placeholder {
  color: #fff;
}
.dark_theme .token-list-tbl td {
  color: #ddd;
}
.dark_theme .input_block_outline .access_type option {
  color: #fff !important;
  background: #17171a !important;
}

.dark_theme .ico_plans .panel-default {
  background: #323232;
  color: #fff;
}

.dark_theme .create_airdrop .main_create_form {
  background: transparent;
  border: 1px solid transparent;
}

.dark_theme .create_airdrop label {
  color: #474757;
}

.dark_theme .ico_block_details {
  border-bottom: 1px solid #24242a;
}

.dark_theme .ico_block_details p {
  border-bottom: 1px solid #24242a;
}
.dark_theme .ico_plans .panel-title a {
  color: #fff;
}
.dark_theme .ico_plans .start-end-date,
.dark_theme .participate_para_one,
.dark_theme .token_content h1,
.dark_theme .promotion__text,
.dark_theme .promotion__text p,
.dark_theme
  .completed_events
  .title_block
  h2
  .dark_theme
  .launchpad_overview_data
  p {
  color: #fff !important;
}
.dark_theme .participate_link span {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.dark_theme .input_block_outline .input-group-prepend select option {
  background: #24262a;
  border: 1px solid #24262a;
  color: #fff;
}

.dark_theme .launchpad .ongoing_launchpad,
.dark_theme .launchpad .upcoming_launchpad {
  background: #1b1d26;
  border: 1px solid #323546;
}

.dark_theme .launchpad .launchpad_title {
  color: #ffffff;
}

.dark_theme .launchpad {
  background: #17171a;
}

.dark_theme .tabs_for_navigation ul li a span {
  color: #fff;
  font-weight: 500;
}

.dark_theme .launchpad-toke-button .btn-gradient-primary {
  box-shadow: 0 0;
}
.dark_theme .tabs_for_navigation ul li .active span {
  background-color: #323546;
  color: #f1b50a;
}

.dark_theme .launchpad .ongoing_launchpad h4 span,
.dark_theme .launchpad .ongoing_launchpad h4 a,
.dark_theme .launchpad .upcoming_launchpad h4 span,
.dark_theme .launchpad .upcoming_launchpad h4 a {
  color: #fff;
}
.dark_theme .launchpad_table_overview thead th {
  color: #fff;
}

.dark_theme .launchpad_table_overview tbody td h5 {
  color: #fff;
}

.dark_theme .launchpad_table_overview tbody td p, .dark_theme .launchpad_table_overview tbody td {
  color: #fff;
} 

.dark_theme .completed_events {
  background: transparent;
}


.dark_theme .launchpad_overview_data p a {
  border-bottom: 2px solid #fff;
  color: #fff;
}

.dark_theme .completed_events .title_block h2 {
  color: #fff;
}

.dark_theme .view_all_launchpad a {
  color: #fff;
}

.dark_theme .launchpad_overview_data {
  border-top: 1px solid #323232;
}
.dark_theme .launchpad_overview_data p {
  color: #fff;
}

.dark_theme .completed_events tbody td {
  color: #fff !important;
}

.dark_theme .completed_events table thead th {
  background: transparent;
  border-bottom: 1px solid #363636;
  border-top: 1px solid #363636;
}
.dark_theme .create_token_btn a {
  background: #252533 !important;
  color: #fff;
}

.dark_theme .completed_events tbody td h5,.dark_theme .market_list_price p {
  color: #fff;
  font-weight: 400 !important;
}

.dark_theme .completed_events tbody td {
  border-bottom: 1px solid #282828 !important;
}

.dark_theme .token-list-tbl th {
  color: #fff !important;
  background: #2e2e2e;
}
.dark_theme .search_filter .input-group-prepend .input-group-text {
  color: #fff;
}

.dark_theme .search_filter select option {
  background: #18191c;
  color: #fff;
}

.dark_theme .search_filter {
  background: #242532;
  color: #fff;
}

.dark_theme .search_filter input {
  color: #fff;
}

.dark_theme .search_filter input::placeholder {
  color: #fff;
}

.dark_theme .navbar_border_bottom {
  border-top: 1px solid #323232;
}

.dark_theme .navbar_menu_items {
  border-bottom: 1px solid #323232;
}

.dark_theme .market_live_price ul li {
  border-right: 1px solid #323232;
}

.dark_theme .pagination_div .pagination_element ul li a {
  background: transparent !important;
  color: #fff !important;
  border: 1px solid #323546;
}

.dark_theme .pagination_div .pagination_element ul li.active a {
  background: #18191c !important;
  color: #fff !important;
  border: 1px solid #18191c;
}

.dark_theme .markets_index select {
  background: transparent;
  color: #fff;
}

.dark_theme .search_filter select {
  color: #585885;
  border-right: 1px solid #585885;
}

.dark_theme .search_filter input {
  color: #585885;
}

.dark_theme .dropdown_wallet_header {
  background: #18191c;
}
.dark_theme .dropdown_wallet_header .dropdown-item {
  color: #fff;
}

.dark_theme .connect_wallet_header .dropdown_wallet_header a:hover {
  color: #fff;
  background: #323232 !important;
}
.dark_theme .dropdown_wallet_header h6 {
  border-top: 1px solid #323232;
  color: #fff;
}
.dark_theme .dropdown_wallet_header h6:first-child {
  border-top: 1px solid #18191c;
}
.dark_theme .market_top_header .connect_wallet_header .connect_wallet {
  background: #2c2c2f;
  color: #fff;
}
.dark_theme .header_button {
  background: #2c2c2f;
}

.dark_theme .launchpad .ongoing_launchpad h4 .right_caret,
.dark_theme .launchpad .upcoming_launchpad h4 .right_caret {
  margin-bottom: 0px;
}

.dark_theme .input_block_outline {
  background: #242437;
  border: 1px solid #242437;
}

.dark_theme .input_block_outline input,
.dark_theme .input_block_outline select {
  background: transparent;
  color: #fff;
}

.dark_theme .main_create_form label {
  color: #474757;
}

.dark_theme .input_block_outline input::placeholder,
.dark_theme .input_block_outline select {
  color: #fff;
}

.dark_theme .choose_file_input label {
  color: #fff;
  background: #242437;
  border: 2px dashed #363652;
}

.dark_theme .token_max_supply .input-group-prepend .input-group-text {
  background: #323232;
  border-left: 1px solid #323232;
}
.dark_theme .reset_filter {
  color: #fff;
}
.dark_theme .form-control:focus {
  box-shadow: 0 0 0 0px !important;
}

.dark_theme .overview_ul li {
  border-right: 1px solid #323232;
}

.dark_theme .market_details_share_wishlist .modal-content,
.dark_theme .market_details_share_wishlist .modal-body {
  color: #fff;
  background: #323232;
  border-radius: 8px;
}

.dark_theme .market_details_share_wishlist .modal-header {
  border-bottom: 1px solid #404040;
}
.dark_theme .modal-header .close {
  color: #fff;
}
.dark_theme .launchpad_overview_data h3 {
  color: #fff;
}

.dark_theme .error_page h3 {
  color: #fff;
}
.dark_theme .error_page p {
  color: #fff;
}
.dark_theme .error_page .buttons a {
  background-image: unset !important;
  background: #18191c;
}

.dark_theme .circulating_progress .progress {
  background-color: #323232;
}
.dark_theme .market_vote {
  background: #18191c;
  box-shadow: 0 0 0px;
}
.dark_theme .votes_market {
  color: #fff;
}

.dark_theme .exchange_transactions table thead th:first-child {
  background: #18191c;
  color: #fff;
}

.dark_theme .exchange_transactions table tbody td:first-child {
  background: #18191c;
  color: #fff;
}
.dark_theme .exchange_transactions table thead th {
  background: #323232;
  color: #fff;
}

.dark_theme .exchange_transactions table tbody td {
  color: #fff;
}

.dark_theme table thead th {
  border-top: 1px solid #282828 !important;
  border-bottom: 1px solid #282828 !important;
}

.dark_theme .filter_rows li select {
  background: #323546;
  color: #fff;
}

.dark_theme .filter_rows {
  color: #58667e;
}

.dark_theme .category_list li.active_tab {
  background: #323546;
  color: #fff;
}

.dark_theme .pager__list.pagination_element ul li.active a {
  background: #323546 !important;
  color: #f1b50a !important;
  border: 1px solid #323546;
}

.dark_theme .company_profile_tabs li:last-child {
  border-right: 0px;
}

.dark_theme .categories__item {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 0px 0px #d9d3ff;
  background: transparent;
  color: #fff;
}

.dark_theme .market_list_price .vote_value {
  color: #fff;
  background: #323232;
}
.dark_theme .market_list_price span button {
  background: #323232;
  box-shadow: 0 0 0px;
}
.dark_theme .active_category {
  border: 0px;
  background: #323546;
  color: #f1b50a;
}
.dark_theme .companies_found {
  color: #fff;
}

.dark_theme .token-contract-details {
  background: #2c2c3e;
  color: #585885;
}

.dark_theme .market_page_data tr td:first-child {
  background: #17171a;
  border-right: 0px;
}

.dark_theme .market_page_data thead th:first-child {
  background: #17171a;
}

.dark_theme .page_range {
  color: #fff;
}

.dark_theme .token_content h2 {
  color: #fff;
}

.dark_theme .token_content P {
  color: #fff;
}
.dark_theme .usd_search_toggle {
  color: #fff;
}
.dark_theme .bsc_search_toggle {
  color: #fff;
}
.dark_theme .token_detail_ext_links .react-switch .react-switch-bg {
  background: #323232 !important;
}
.dark_theme .token_detail_ext_links .react-switch .react-switch-handle {
  background: #484848 !important;
}
.dark_theme .token_detail_ext_links li .bscscan_btn {
  background: #18191c;
  border: 1px solid #18191c;
}
.dark_theme .token_detail_ext_links li .select_market_type {
  background: #18191c;
  color: #fff;
  border: 1px solid #18191c;
}
.dark_theme .price_change_tab h3 {
  color: #fff;
}

.dark_theme .overview_ul li:last-child {
  border-right: 0;
}

.dark_theme .modal-content {
  background: #323232;
  color: #fff;
}
.dark_theme .modal-header {
  border-bottom: 1px solid #18191c;
}

.dark_theme .mobile_view_crypto {
  border-top: 1px solid #323232;
}

.dark_theme .sun, .dark_theme .moon {
  background: #2c2c2f;
}

.dark_theme .coming_soon_modal .coming_soon_title {
  color: #fff;
  font-size: 16px;
  margin-bottom: 5px;
}

.dark_theme .coming_soon_subtext {
  margin-top: 5px;
}

.dark_theme .vote_btn {
  color: #fff;
  background: #323546;
}

.dark_theme .new_markets_index table tbody tr td {
  font-weight: 400;
}

.dark_theme .market_list_price .block_price {
  font-weight: 400;
}

.dark_theme table thead th {
  font-weight: 500;
  color: #7d7e84;
}

.dark_theme .manage_tokens_edit {
  background: #242733;
  color: #7f8da7;
}

.dark_theme .manage_tokens_edit_disbale {
  background: #1e1f24;
  color: #383838;
}

.dark_theme .market_token_details .token_main_details .media-heading {
  color: #fff;
}

.dark_theme .market_token_details .token_main_details .media h5 span {
  background: #252533;
  color: #7f8da7;
}

.dark_theme .market_token_details .token_share_vote li {
  background: #252533;
  color: #555589;
}

.dark_theme .market_token_details .token_share_vote li span {
  background: #38384c;
}

.dark_theme .token_price_block h5 {
  color: #fff;
  font-weight: 500 !important;
}

.dark_theme .coin_details {
  border-top: 1px solid #242428;
}

.dark_theme .coin_details .token_left_border {
  border-left: 2px solid #242428;
}

.dark_theme .coin_details .token_list_values h5 {
  color: #fff;
  font-weight: 500 !important;
}

.dark_theme .market_token_tabs {
  border-top: 1px solid #242428;
}

.dark_theme .market_token_tabs .nav-tabs li a.active {
  background: #363654;
  color: #fff;
}

.dark_theme .market_token_tabs .nav-tabs li a {
  color: #555589;
}

.dark_theme .market_token_tabs .nav-tabs {
  background: #242437;
}

.dark_theme .market_token_tabs h5 {
  color: #fff;
}

.dark_theme .coin_ico_list h4 {
  color: #fff;
}

.dark_theme .launchpad_list_content.active_launchpad {
  background: #242437 !important;
  border: 1px solid #3a3a72 !important;
}

.dark_theme .coin_ico_list p {
  color: #4c4c77;
}

.dark_theme .token_launchpad_details h5 {
  color: #fff;
}

.dark_theme .token_launchpad_details {
  border-left: 2px solid #2c2c3e;
}

.dark_theme .token_launchpad_details ul li span {
  background: #242437;
  color: #585885;
}

.dark_theme .token_launchpad_list::-webkit-scrollbar-track,
.dark_theme .token_launchpad_details::-webkit-scrollbar-track {
  background: #17171a;
}

.dark_theme .token_launchpad_list::-webkit-scrollbar-thumb,
.dark_theme .token_launchpad_details::-webkit-scrollbar-thumb {
  background: #2c2c3e;
  border-radius: 50px;
}

.dark_theme .token_launchpad_list::-webkit-scrollbar-thumb:hover,
.dark_theme .token_launchpad_details::-webkit-scrollbar-thumb:hover {
  background: #2c2c3e;
}

.dark_theme .token_launchpad_details ul li {
  color: #585885;
}

.dark_theme .about_token_details h4 {
  color: #fff;
}

.dark_theme .market_token_details tbody td  {
  color: #fff;
}

.dark_theme .market_token_details .pager__list.pagination_element ul li a {
    background: #242437 !important;
    color: #919192 !important;
}

.market_token_details {
  
}


@media (max-width: 768px) {
  .dark_theme .overview_ul li {
    border-right: 0px;
  }
}
