@font-face {
  font-family: "TTFirsNeue";
  src: url(/assets/fonts/TT/TTFirsNeue-Regular.ttf);
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "TTFirsNeue";
  src: url(/assets/fonts/TT/TTFirsNeue-Medium.ttf);
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "TTFirsNeue";
  src: url(/assets/fonts/TT/TTFirsNeue-DemiBold.ttf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "TTFirsNeue";
  src: url(/assets/fonts/TT/TTFirsNeue-Bold.ttf);
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url(/assets/fonts/ubuntu/Ubuntu-Light.ttf);
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url(/assets/fonts/ubuntu/Ubuntu-Regular.ttf);
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url(/assets/fonts/ubuntu/Ubuntu-Medium.ttf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url(/assets/fonts/ubuntu/Ubuntu-Bold.ttf);
  font-weight: 500;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Ubuntu, TTFirsNeue;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
